# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
BSLL_HotFixes/obj/
BSLL_HotFixes/bin/
BSMyLoadersLog_Setup/Release/
BSLL_HotFixes/obj/
BSMyLoadersLog/bin/
ToDelete/
BSMyLoadersLog/images/Thumbs.db
*.testlog
.vs/
BSMyLoadersLog/obj/
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.AboutBox1.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.FrmAddBullets.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.FrmAddBushingPowder.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.FrmAddBushingShot.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.FrmAddCaliberToCollection.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddDataSheet_ShotGun_MAN.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.FrmAddDataSheetRiflePistolsCfg.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.FrmAddDataSheetRiflePistolsMan.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.FrmAddDataSheetShotGunCfg.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddEquipment.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddFirearm.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddPowder.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddPrimer.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddQtyBullets.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddQtyHulls.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddQtyPowder.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddQtyPrimers.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddQtyShellcase.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddQtyShot.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddQtySlug.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddQtyWAD.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddShell.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddShells.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddShot.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddSlugs.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddWad.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmConfig_Add_Wizard.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmConfig_Add_Wizard_Powder.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmConfig_Add_Wizard_RP_1.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmConfig_Add_Wizard_SG_1.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmConfig_Add_Wizard_SG_2.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmConfig_Add_Wizard_SG_3.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmConfig_Add_Wizard_SG_Powder.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmCopy_DataSheet_Copy_ShotGun.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmCopy_DataSheet_RiflePistol.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmDBCleanup.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEdit_AmmunitionTypes.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEdit_PrimerTypes.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEdit_ShotWeight.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEdit_SuggestedUse.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditBullets.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditBushing_Powder.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditBushing_Shot.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditConfig.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditDataSheet_RiflePistols.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditDataSheet_ShotGun.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditEquipment.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditFirearm.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditGuages.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditHulls.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditPowder.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditPrimer.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditShells.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditShot.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditSlug.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditWADS.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmExportFirearms.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmForgotPassword.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmImportConfiguration.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmImportFirearms.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmLoadMakeReady_Details.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmLogin.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.FrmOptions.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_BulletInventory.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_CaseInventory.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_Configuration_Sheet.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_Configuration_Sheet_SG.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_Configuration_Sheet_SG_Slug.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_Custom.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_DataLoader_RiflePistol.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_DataLoader_RiflePistolWOC.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_DataLoader_Shotgun.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_DataLoader_ShotgunWOC.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_HullInventory.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_List_Equipment.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_List_Firearms.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_Loaded_Ammunition.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_PowderInventory.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_PrimerInventory.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_ShotInventory.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_SlugInventory.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmReport_WADInventory.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmSearchConfig_RiflePistol.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_Bushings_Powder.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_Bushings_Shot.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_Configuration_Sheet.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_Configuration_Shotgun_Sheet.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_General_Calibers.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_Bullets.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_ConfigurationsByCal.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_ConfigurationsByCal_SG.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_Equipment.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_Firearms.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_Powder.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_Primer.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_ShellHulls.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_Shells.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_Shot.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_Slug.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_List_WADS.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmView_Loaded_Ammunition.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmViewDataSheet_RiflePistols.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmViewDataSheet_Shotgun.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.MDIParentMain.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.Resources.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.SplashScreen1.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.vbproj.CoreCompileInputs.cache
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.vbproj.FileListAbsolute.txt
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.vbproj.GenerateResource.cache
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.vbprojAssemblyReference.cache
.vs/BSMyLoadersLog/v16/.suo
.vs/BSMyLoadersLog/v16/.suo
*.testlog
.vs/BSMyLoadersLog/v16/.suo
.vs/BSMyLoadersLog/v16/.suo
.vs/BSMyLoadersLog/v16/TestStore/0/000.testlog
.vs/BSMyLoadersLog/v16/.suo
