# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
BSLL_HotFixes/obj/Debug/*.*
BSMyLoadersLog/bin/Debug/*.*
BSMyLoadersLog/obj/Debug/*.*
BSMyLoadersLog/obj/Debug/TempPE/*.*
BSLL_HotFixes/obj/Release/*.*
BSLL_HotFixes/bin/Debug/hotfix.ini
BSMyLoadersLog_Setup/Release/*.*
BSMyLoadersLog/bin/Debug/*.*
BSMyLoadersLog/bin/Release/*.*
CDFiles/Final/*.*
BSLL_HotFixes/bin/Debug/*.*
BSLL_HotFixes/obj/*.*
BSLL_HotFixes/obj/Debug/*.*
BSLL_HotFixes/obj/Debug/TempPE/*.*
BSLL_HotFixes/obj/*.*
BSLL_HotFixes/obj/Release/TempPE/*.*
BSMyLoadersLog/bin/Debug/*.*
BSMyLoadersLog/obj/Release/*.*
BSMyLoadersLog/obj/Release/TempPE/*.*
