# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
BSLL_HotFixes/bin/Debug/BSMLL_HotFixes.exe
BSLL_HotFixes/bin/Debug/BSMLL_HotFixes.pdb
BSLL_HotFixes/obj/Debug/BSMLL_HotFixes.exe
BSLL_HotFixes/obj/Debug/BSMLL_HotFixes.pdb
BSLL_HotFixes/obj/Debug/BSMLL_HotFixes.vbproj.FileListAbsolute.txt
BSLL_HotFixes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BSMyLoadersLog/bin/Debug/BSMyLoadersLog.exe
BSMyLoadersLog/bin/Debug/BSMyLoadersLog.pdb
BSMyLoadersLog/bin/Debug/err.log
BSMyLoadersLog/bin/Debug/Microsoft.ReportViewer.WinForms.dll
BSMyLoadersLog/bin/Debug/MLL.mdb
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.exe
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddDataSheet_ShotGun_CFG.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmAddDataSheet_ShotGun_MAN.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmCopy_DataSheet_Copy_ShotGun.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmEditDataSheet_ShotGun.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.frmViewDataSheet_Shotgun.resources
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.pdb
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.vbproj.FileListAbsolute.txt
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.vbproj.GenerateResource.Cache
BSMyLoadersLog/obj/Debug/BSMyLoadersLog.vbprojResolveAssemblyReference.cache
BSMyLoadersLog/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BSMyLoadersLog/obj/Debug/RdlCompile.cache
BSMyLoadersLog/obj/Debug/TempPE/MLLDataSet.Designer.vb.dll
BSLL_HotFixes/obj/Release/BSMLL_HotFixes.exe
BSLL_HotFixes/obj/Release/BSMLL_HotFixes.Resources.resources
BSLL_HotFixes/obj/Release/BSMLL_HotFixes.vbproj.FileListAbsolute.txt
BSLL_HotFixes/obj/Release/BSMLL_HotFixes.vbproj.GenerateResource.Cache
BSLL_HotFixes/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BSLL_HotFixes/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BSLL_HotFixes/bin/Debug/hotfix.ini
BSMyLoadersLog_Setup/Release/BSMyLoadersLog_Setup.msi
BSMyLoadersLog_Setup/Release/setup.exe
BSMyLoadersLog/bin/Debug/BSApplicationUpdater.exe
BSMyLoadersLog/bin/Debug/BSApplicationUpdater.XmlSerializers.dll
BSMyLoadersLog/bin/Debug/BSMyLoadersLog.vshost.exe.manifest
BSMyLoadersLog/bin/Debug/Config.xml
BSMyLoadersLog/bin/Debug/FileDownloader.dll
BSMyLoadersLog/bin/Debug/ProxyConfig.xml
BSMyLoadersLog/bin/Release/BSApplicationUpdater.exe
BSMyLoadersLog/bin/Release/BSApplicationUpdater.XmlSerializers.dll
BSMyLoadersLog/bin/Release/BSMLL_HotFixes.exe
BSMyLoadersLog/bin/Release/BSMLL_HotFixes.exe.config
BSMyLoadersLog/bin/Release/BSMyLoadersLog.exe
BSMyLoadersLog/bin/Release/Config.xml
BSMyLoadersLog/bin/Release/DBBackup.exe.config
BSMyLoadersLog/bin/Release/DBRestore.exe.config
BSMyLoadersLog/bin/Release/FileDownloader.dll
BSMyLoadersLog/bin/Release/Microsoft.ReportViewer.WinForms.dll
BSMyLoadersLog/bin/Release/MLL.mdb
BSMyLoadersLog/bin/Release/ProxyConfig.xml
